@charset "UTF-8";
/* CSS Document */
@keyframes firstanime{
	100%{
		width: 0vw;
	}
}
body{
	padding: 0;
	margin: 0;
}
header{
	position: relative;
	width: 100vw;
	height: 100vh;
}
.header-background{
	display: flex;
	justify-content: center;
}
.race-img1{
	background-image: url("IMG_B925EDF5C01C-1.jpeg");
	background-position: center;
	background-size: cover;
	width: 33.3vw;
	height: 100vh;
}
.race-img2{
	background-image: url("IMG_1584.JPG");
	background-position: center;
	background-size: cover;
	width: 33.3vw;
	height: 100vh;
}
.race-img3{
	background-image: url("DSC02844.JPG");
	background-position: right;
	background-size: cover;
	width: 33.3vw;
	height: 100vh;
}
.tour-img1{
	background-image: url("IMG_1652.JPG");
	background-position: center;
	background-size: cover;
	width: 33.3vw;
	height: 100vh;
}
.tour-img2{
	background-image: url("IMG_1652.JPG");
	background-position: center;
	background-size: cover;
	width: 33.3vw;
	height: 100vh;
}
.tour-img3{
	background-image: url("IMG_1569.JPG");
	background-position: center;
	background-size: cover;
	width: 33.3vw;
	height: 100vh;
}
.background-cover{
	position: absolute;
	z-index: 10;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #0000008D
}
.header-nav-wrapper{
	position: absolute;
	z-index: 20;
	top: 0;
}
.header-nav-wrapper ul{
	display: flex;
}
.header-nav-wrapper ul li{
	padding: 0 28px;
	list-style: none;
	border-left: 0.5px solid #ffffff;
}
.last-list{
	border-right: 0.5px solid #ffffff;
}
.header-nav-wrapper ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 27px;
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 5.4px;
}
.link-button{
	position: absolute;
	z-index: 20;
	top: 3%;
	right: 3%;
	margin: 5px;
}
.link-button p{
	
}
.contact-title{
	position: absolute;
	z-index: 25;
	top: 20%;
	bottom: 0%;
	left: 25%;
	right: 0%;
	color: #14274E;
	font-size: 19px;
	text-decoration: none;
	font-family: 'Noto Sans JP', sans-serif;
}

#R1{
	width: 232px;
	height: 54px;
}
#p1{
	fill: #ffffff;
}
.twitter-link-button{
	position: absolute;
	z-index: 20;
	top: 12%;
	right: 3%;
	margin: 5px;
}
.link-button p{
	
}
.twitter-title{
	position: absolute;
	z-index: 25;
	top: 20%;
	bottom: 0%;
	left: 25%;
	right: 0%;
	color: #ffffff;
	font-size: 19px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 100;
	text-decoration: none;
}

#R2{
	width: 232px;
	height: 54px;
}
#p2{
	fill: #14274E;
}
.main-title{
	position: absolute;
	z-index: 30;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}
.main-title-wrapper{
	position: relative;
	width: 27vw;
	height: 20vh;
	left: 0;
	right: 0;
}
.main-title-wrapper h1{
	position: absolute;
	color: #ffffff;
	font-size: 3em;
	font-family: 'Noto Sans JP', sans-serif;
	margin: 5px;
}
.title-line{
	width: 400px;
	height: 0.5px;
	background-color: #ffffff;
	position: absolute;
	z-index: 40;
	top: 50%;
	left: 35%;
	transform: rotate(-45deg);
}
.title-top{
	top: 0;
	left: 0;
}
.title-GROUP{
	bottom: 0;
	right: 0;
}

.roadrace{
	display: flex;
	justify-content: flex-start;
}
.version1{
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.version1 h3{
	position: relative;
	width: 300px;
	height: 40px;
	text-align: center;
	color: #14274E;
	font-size: 2em;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 100; 
	margin-left: 40px;
}
.version1 h3::after, .version1 h3::before{
	position: absolute;
	content: "";
	border-left: 0.2px solid #14274E;
	width: 0;
	height: 45px;
	transform: rotate(45deg);
}
.version1 h3::after{
	right: 0;
	top: 0;
}
.version1 h3::before{
	top: 0;
	left: 0;
}
.version1 p{
	color: #14274E;
	font-size: 1em;
	font-family: 'Noto Sans JP', sans-serif;
	margin-left: 40px;
}
.trackrace{
	display: flex;
	justify-content: flex-end;
}
.version2{
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	margin-right: 40px;
}
.version2 h3{
	position: relative;
	width: 300px;
	height: 40px;
	text-align: center;
	color: #14274E;
	font-size: 2em;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 100;
}
.version2 h3::after, .version2 h3::before{
	position: absolute;
	content: "";
	border-left: 0.2px solid #14274E;
	width: 0;
	height: 45px;
	transform: rotate(45deg);
}
.version2 h3::after{
	right: 0;
	top: 0;
}
.version2 h3::before{
	top: 0;
	left: 0;
}
.version2 p{
	color: #14274E;
	font-size: 1em;
	font-family: 'Noto Sans JP', sans-serif;
}
.cyclocross{
	display: flex;
	justify-content: flex-end;
}
.version3{
	width: 50vw;
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.version3 h3{
	position: relative;
	width: 300px;
	height: 40px;
	text-align: center;
	color: #14274E;
	font-size: 2em;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 100;
}
.version3 h3::after, .version3 h3::before{
	position: absolute;
	content: "";
	border-left: 0.2px solid #14274E;
	width: 0;
	height: 45px;
	transform: rotate(45deg);
}
.version3 h3::after{
	right: 0;
	top: 0;
}
.version3 h3::before{
	top: 0;
	left: 0;
}
.version3 p{
	color: #14274E;
	font-size: 1em;
	font-family: 'Noto Sans JP', sans-serif;
}
footer{
	width: 100vw;
	height: 224px;
	background-color: #14274E;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
.footer-link-button{
	margin: 5px;
	position: relative;
}
.footer-link-button p{
	
}
.contact-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #14274E;
	font-size: 1em;
	line-height: 11px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 100;
	text-decoration: none;
}
.R3{
	width: 143px;
	height: 33px;
}
.p3{
	fill: #ffffff;
}

.footer-title{
	
}
.footer-title h2{
	color: #ffffff;
	font-size: 35px;
	line-height: 32px;
	margin: 7px;
}
.footer-title small{
	color: #ffffff;
	font-size: 11px;
	text-align: center;
}
.footer-nav-wrapper ul{
	padding: 0;
}
.footer-nav-wrapper ul li{
	list-style: none;
	width: 80px;
	border-top: 0.5px solid #ffffff;
	padding: 9px 0;
	text-align: center;
}
.footer-last-list{
	border-bottom: 0.5px solid #ffffff;
}
.footer-nav-wrapper ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
}

.first-animation{
	position: absolute;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.line1{
	width: 100%;
	height: 20vh;
	background-color: #14274E;
	animation: firstanime 1.5s forwards;
	animation-delay: 1s;
}
.line2{
	width: 100%;
	height: 20vh;
	background-color: #14274E;
	animation: firstanime 2s forwards;
	animation-delay: 0.5s;
}
.line3{
	width: 100%;
	height: 20vh;
	background-color: #14274E;
	animation: firstanime 2.5s forwards;
}
.line4{
	width: 100%;
	height: 20vh;
	background-color: #14274e;
	animation: firstanime 2s forwards;
	animation-delay: 0.5s;
}
.line5{
	width: 100%;
	height: 20vh;
	background-color: #14274E;
	animation: firstanime 1.5s forwards;
	animation-delay: 1s;
}